{% load static %}
{% include 'header.html' %}
<div class="myrow2 row  mt-2"> <!-- row2 start here-->
    {% include 'sidebar.html' %}    <!-- including sidebar (column1 in second row)-->


<div class="box col-10">    <!-- secoond column of second rows-->
    <div class="row">
        {% block 'main' %}
        <!-- main content (page specific content) should be placed here   -->
        {% endblock 'main' %}
       </div>
     </div> <!-- closing second column of second row-->
</div> <!-- rows ends here-->
{% include 'footer.html' %}

